.Hero {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgb(175, 175, 175);
  padding: 20px 10%;
  height: 20rem;
}
.box {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
